GPUStatsWidget {
	layout: grid;
	grid-size: 3;
	grid-gutter: 2 12;
	background: $boost;
	height: 11;
	min-width: 50;
	padding: 1;
}

/* for colors, see: https://textual.textualize.io/guide/design/#theme-reference */

.box {
	height: 100%;
/*	border: ascii $primary-background;*/
	border: solid $primary-background;
	content-align: center middle;
	padding: 0 1;
}

.statvalue {
	dock: right;
}
